div#login {
  z-index: 1000;
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  transition: opacity 1s ease; }
  div#login.loginEnded {
    opacity: 0; }
  div#login div#login-form {
    width: 250px;
    opacity: 1;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    transition: opacity 0.35s ease; }
    div#login div#login-form.loading {
      opacity: 0; }
    div#login div#login-form #login-spinner,
    div#login div#login-form #login-spinner * {
      opacity: 0 !important;
      transition: opacity 0.35s ease; }
      div#login div#login-form #login-spinner.showspinner,
      div#login div#login-form #login-spinner *.showspinner {
        opacity: 1; }
    div#login div#login-form .ng-hide-add, div#login div#login-form .ng-hide-remove {
      /* ensure visibility during the transition */
      display: block !important;
      /* yes, important */ }
    div#login div#login-form .cssSlideUp {
      transition: all .7s ease;
      height: 90px;
      overflow: hidden; }
    div#login div#login-form .cssSlideUp.ng-hide {
      height: 0; }
    div#login div#login-form .logo {
      width: 200px;
      margin-bottom: 20px; }
    div#login div#login-form .form-control {
      margin-bottom: 5px;
      border-radius: 0; }
    div#login div#login-form .form-control.ng-invalid {
      background-color: #ffc8c8; }
    div#login div#login-form #submit-login {
      margin-top: 15px;
      width: 100%;
      border-radius: 0; }
    div#login div#login-form .register {
      color: #eee;
      margin-top: 10px;
      cursor: pointer;
      transition: color 0.3s ease; }
      div#login div#login-form .register:hover {
        color: #999; }
    div#login div#login-form .alert {
      margin-top: 0px; }

#main .navbar {
  position: absolute;
  z-index: 100;
  border-radius: 0;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f6f6f6; }
  #main .navbar .logo {
    height: 50%;
    position: relative;
    top: 30px;
    transform: translateY(-50%);
    margin-left: 15px; }
#main #user-list {
  position: absolute;
  width: 250px;
  top: 60px;
  bottom: 0px;
  background-color: #eee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 10; }
  #main #user-list .user {
    position: relative;
    cursor: pointer;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-out; }
    #main #user-list .user:hover {
      background-color: rgba(0, 0, 0, 0.075); }
    #main #user-list .user .avatar img {
      width: 50px;
      height: 50px; }
    #main #user-list .user .name {
      position: absolute;
      left: 55px;
      top: 0px; }
#main #messages-pane {
  position: absolute;
  z-index: 5;
  left: 250px;
  top: 60px;
  width: 300px;
  bottom: 0px;
  background-color: #ffffff;
  transition: left 0.5s ease; }
  #main #messages-pane.slide-out {
    left: -50px; }
  #main #messages-pane .header {
    height: 40px; }
    #main #messages-pane .header span.close-button {
      position: absolute;
      right: 10px;
      top: 10px;
      opacity: 0.75;
      font-size: 20px;
      cursor: pointer; }
  #main #messages-pane .messages-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 50px;
    overflow: auto;
    transition: all 0.2s ease;
    opacity: 1; }
    #main #messages-pane .messages-container.fade-out {
      opacity: 0;
      top: 80px; }
    #main #messages-pane .messages-container .messages {
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 15px; }
      #main #messages-pane .messages-container .messages .message {
        position: relative;
        height: 35px; }
        #main #messages-pane .messages-container .messages .message:not(.right-side) .avatar {
          position: relative; }
          #main #messages-pane .messages-container .messages .message:not(.right-side) .avatar img {
            height: 35px;
            width: 35px; }
        #main #messages-pane .messages-container .messages .message:not(.right-side) .message-body {
          position: absolute;
          left: 40px;
          bottom: 3px;
          font-size: 20px; }
        #main #messages-pane .messages-container .messages .message.right-side .avatar {
          position: absolute;
          right: 0;
          top: 0; }
          #main #messages-pane .messages-container .messages .message.right-side .avatar img {
            height: 35px;
            width: 35px; }
        #main #messages-pane .messages-container .messages .message.right-side .message-body {
          position: absolute;
          right: 40px !important;
          bottom: 3px;
          font-size: 20px; }
  #main #messages-pane .message-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff; }
    #main #messages-pane .message-input input {
      border-radius: 0; }
#main #main-window {
  position: absolute;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 250px;
  background-color: #e6e6e6;
  z-index: 1;
  padding-top: 30px;
  overflow: auto; }
  #main #main-window #feed {
    position: absolute;
    transition: left 0.5s ease;
    left: 0;
    right: 0; }
    #main #main-window #feed .post {
      width: 500px; }
    #main #main-window #feed .status-form {
      width: 545px; }
    #main #main-window #feed.half-width {
      left: 300px; }
      #main #main-window #feed.half-width .post {
        width: 470px; }
      #main #main-window #feed.half-width .status-form {
        width: 500px; }
    #main #main-window #feed .post,
    #main #main-window #feed .status-form {
      transition: all 0.5s ease; }
    #main #main-window #feed .post {
      position: relative;
      margin: 0 auto;
      background-color: #f3f3f3;
      padding-top: 70px;
      padding-bottom: 20px;
      border-radius: 3px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px; }
      #main #main-window #feed .post.ng-enter, #main #main-window #feed .post.ng-leave {
        transition: 0.5s all ease; }
      #main #main-window #feed .post.ng-enter, #main #main-window #feed .post.ng-leave.ng-leave-active {
        opacity: 0;
        left: -50px; }
      #main #main-window #feed .post.ng-leave, #main #main-window #feed .post.ng-enter.ng-enter-active {
        opacity: 1;
        left: 0; }
      #main #main-window #feed .post .avatar {
        position: absolute;
        left: 20px;
        top: 20px; }
        #main #main-window #feed .post .avatar img {
          width: 40px;
          height: 40px; }
      #main #main-window #feed .post .name {
        position: absolute;
        left: 65px;
        top: 20px; }
      #main #main-window #feed .post .time {
        position: absolute;
        left: 65px;
        top: 40px; }
      #main #main-window #feed .post .status-body {
        margin-left: 20px;
        margin-right: 20px;
        white-space: pre-line; }
    #main #main-window #feed .status-form {
      margin-left: auto;
      margin-right: auto;
      background-color: #f3f3f3;
      padding-top: 0px;
      padding-bottom: 0px;
      border-radius: 3px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      overflow: hidden; }
      #main #main-window #feed .status-form #status-field {
        background-color: transparent;
        border: none;
        box-shadow: none;
        resize: none; }
      #main #main-window #feed .status-form #status-submit {
        float: right;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-right: 5px;
        margin-bottom: 5px;
        transition: opacity 0.5s ease; }
        #main #main-window #feed .status-form #status-submit[disabled] {
          opacity: 0; }

/*# sourceMappingURL=app.css.map */
