div#login
{
  position: fixed;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  background-color: #212121;

  div#login-form
  {
//    padding: 15px;
    width: 250px;

    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;

    .ng-hide-add, .ng-hide-remove
    {
      /* ensure visibility during the transition */
      display: block !important; /* yes, important */
    }

    .cssSlideUp {
      transition: all .7s ease;
      height: 90px;
      overflow: hidden;
    }
    .cssSlideUp.ng-hide {
      height:0;
    }

    .logo
    {
      width: 200px;
      margin-bottom: 20px;
    }

    .form-control
    {
      margin-bottom: 5px;
      border-radius: 0;
    }

    .form-control.ng-invalid
    {
      background-color: rgb(255, 200, 200);
    }

//    #email.ng-valid.ng-touched
//    {
//      background-color: rgb(200, 255, 200);
//    }

    #submit-login
    {
      margin-top: 15px;
      width: 100%;
      border-radius: 0;
    }

    .register
    {
      color: #eee;
      margin-top: 10px;

      cursor: pointer;

      transition: color 0.3s ease;

      &:hover
      {
        color: #999;
      }
    }

    #register-form
    {
//      margin-bottom: 15px;
    }
  }
}