div#login
{
  z-index: 1000;
  position: fixed;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  background-color: #212121;

  transition: opacity 1s ease;

  &.loginEnded
  {
    opacity: 0;
  }

  div#login-form
  {
    width: 250px;
    opacity: 1;

    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;

    transition: opacity 0.35s ease;

    &.loading
    {
      opacity: 0;
    }

    #login-spinner,
    #login-spinner *
    {
      opacity: 0 !important;

      transition: opacity 0.35s ease;

      &.showspinner
      {
        opacity: 1;
      }
    }

    .ng-hide-add, .ng-hide-remove
    {
      /* ensure visibility during the transition */
      display: block !important; /* yes, important */
    }

    .cssSlideUp
    {
      transition: all .7s ease;
      height: 90px;
      overflow: hidden;
    }
    .cssSlideUp.ng-hide
    {
      height:0;
    }

    .logo
    {
      width: 200px;
      margin-bottom: 20px;
    }

    .form-control
    {
      margin-bottom: 5px;
      border-radius: 0;
    }

    .form-control.ng-invalid
    {
      background-color: rgb(255, 200, 200);
    }

    #submit-login
    {
      margin-top: 15px;
      width: 100%;
      border-radius: 0;
    }

    .register
    {
      color: #eee;
      margin-top: 10px;

      cursor: pointer;

      transition: color 0.3s ease;

      &:hover
      {
        color: #999;
      }
    }

    #register-form
    {
    }

    .alert
    {
      margin-top: 0px;
//      height: 100px;
    }
  }
}

#main
{
  #user-list
  {
    position: absolute;
    width: 250px;
    top: 0px;
    bottom: 0px;
    background-color: #eee;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;

    .user
    {
      position: relative;
      cursor: pointer;

      border-bottom: solid 1px rgba(0, 0, 0, 0.1);

      transition: background-color 0.2s ease-out;

      &:hover
      {
        background-color: rgba(0, 0, 0, 0.075);
      }
      .avatar
      {
        img
        {
          width: 50px;
          height: 50px;
        }
      }

      .name
      {
        position: absolute;
        left: 55px;
        top: 0px;
      }
    }
  }

  #main-window
  {
    position: absolute;
//    width: 250px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 250px;
    background-color: #e6e6e6;

    z-index: 1;

    padding-top: 30px;
    overflow: auto;

    #feed
    {
      .post
      {
        position: relative;

        margin: 0 auto;

        width: 55%;
        background-color: #f3f3f3;

        $post-padding: 20px;

        padding-top: $post-padding + 50px;
        padding-bottom: $post-padding;

        border-radius: 3px;

        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

        margin-bottom: 20px;

        .avatar
        {
          position: absolute;
          left: $post-padding;
          top: $post-padding;

          img
          {
            width: 40px;
            height: 40px;
          }
        }

        .name
        {
          position: absolute;
          left: $post-padding + 45px;
          top: $post-padding;
        }

        .time
        {
          position: absolute;
          left: $post-padding + 45px;
          top: $post-padding + 20px;
        }

        .status-body
        {
//          margin-top: 50px;
          margin-left: $post-padding;
          margin-right: $post-padding;
//          margin-bottom: 20px;
        }
      }
    }
  }

}