div#login
{
  z-index: 1000;
  position: fixed;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  background-color: #212121;

  transition: opacity 1s ease;

  &.loginEnded
  {
    opacity: 0;
  }

  div#login-form
  {
    width: 250px;
    opacity: 1;

    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;

    transition: opacity 0.35s ease;

    &.loading
    {
      opacity: 0;
    }

    #login-spinner,
    #login-spinner *
    {
      opacity: 0 !important;

      transition: opacity 0.35s ease;

      &.showspinner
      {
        opacity: 1;
      }
    }

    .ng-hide-add, .ng-hide-remove
    {
      /* ensure visibility during the transition */
      display: block !important; /* yes, important */
    }

    .cssSlideUp
    {
      transition: all .7s ease;
      height: 90px;
      overflow: hidden;
    }
    .cssSlideUp.ng-hide
    {
      height:0;
    }

    .logo
    {
      width: 200px;
      margin-bottom: 20px;
    }

    .form-control
    {
      margin-bottom: 5px;
      border-radius: 0;
    }

    .form-control.ng-invalid
    {
      background-color: rgb(255, 200, 200);
    }

    #submit-login
    {
      margin-top: 15px;
      width: 100%;
      border-radius: 0;
    }

    .register
    {
      color: #eee;
      margin-top: 10px;

      cursor: pointer;

      transition: color 0.3s ease;

      &:hover
      {
        color: #999;
      }
    }

    #register-form
    {
    }

    .alert
    {
      margin-top: 0px;
//      height: 100px;
    }
  }
}

#main
{
//  position: relative;

  $navbar-height: 60px;

  .navbar
  {
    position: absolute;
    z-index: 100;
    border-radius: 0;

    height: $navbar-height;
    left: 0;
    right: 0;
    top: 0;
    background-color: #f6f6f6;

    .logo
    {
      height: 50%;

      position: relative;
      top: 30px;
      transform: translateY(-50%);

      margin-left: 15px;
    }
  }

  #user-list
  {
    position: absolute;
    width: 250px;
    top: $navbar-height;
    bottom: 0px;
    background-color: #eee;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;

    .user
    {
      position: relative;
      cursor: pointer;

      border-bottom: solid 1px rgba(0, 0, 0, 0.1);

      transition: background-color 0.2s ease-out;

      &:hover
      {
        background-color: rgba(0, 0, 0, 0.075);
      }
      .avatar
      {
        img
        {
          width: 50px;
          height: 50px;
        }
      }

      .name
      {
        position: absolute;
        left: 55px;
        top: 0px;
      }
    }
  }

  $messages-width: 300px;
  #messages-pane
  {
    position: absolute;

    //      $width: 400px;

    z-index: 5;

    left: 250px;
    top: $navbar-height;

    width: $messages-width;
//    top: 0px;
    bottom: 0px;

    background-color: #f0f0f0;

    transition: left 0.5s ease;

    &.slide-out
    {
      left: 250px - $messages-width;
    }

    .header
    {
      height: 40px;

      span.close-button
      {
        position: absolute;
        right: 10px;
        top: 10px;

        opacity: 0.75;
        font-size: 20px;

        cursor: pointer;
      }
    }

    .messages-container {

      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
      bottom: 50px;

      overflow: auto;
      overflow-x: hidden;

      transition: all 0.2s ease;
      opacity: 1;
      &.fade-out
      {
        opacity: 0;
        top: 80px;
      }

      &:not(.no-animation)
      {
        .message
        {
          &:not(.right-side)
          {
            &.ng-enter,
            &.ng-leave
            {
              transition: 0.5s all ease;
            }

            &.ng-enter,
            &.ng-leave.ng-leave-active
            {
              opacity: 0;
              left: 50px;
            }

            &.ng-leave,
            &.ng-enter.ng-enter-active
            {
              opacity: 1;
              left: 0;
            }
          }

          &.right-side
          {
            &.ng-enter,
            &.ng-leave
            {
              transition: 0.5s all ease;
            }

            &.ng-enter,
            &.ng-leave.ng-leave-active
            {
              opacity: 0;
              left: -50px;
            }

            &.ng-leave,
            &.ng-enter.ng-enter-active
            {
              opacity: 1;
              left: 0;
            }
          }
        }
      }

      .messages {

//        position: absolute;
//        bottom: 0;
//        left: 0;
//        right: 0;

        display: flex;
        flex-direction: column-reverse;

        padding-bottom: 15px;

        .message {
          position: relative;
          min-height: 35px;

          padding-top: 5px;

          .message-body
          {
//            text-overflow: ellipsis;
//            text-overflow:
//            white-space: normal;
//            overflow: hidden;

            max-width: $messages-width - 70px;
            word-wrap: break-word;
          }

          &:not(.right-side) {
            .avatar {
              position: absolute;
              left: 9px;
              top: 5.5px;

              img {
                height: 26px;
                width: 26px;
                border-radius: 13px;
              }
            }

            .message-body {
//              position: relative;
              display: inline-block;
//              left: 40px;
//              bottom: 3px;

//              display: block;
              margin-left: 40px;
              margin-bottom: 1px;

//              min-width: 50px;

              font-size: 15px;

              border: 1px solid rgba(0, 0, 0, 0.1);

              padding: 2px 5px 2px 5px;
//              background-color: #f9f9f9;
            }
          }

          &.right-side {
            .avatar {
              position: absolute;
              right: 9px;
              top: 5.5px;



              img {
                height: 26px;
                width: 26px;
                border-radius: 13px;
              }
            }

            .message-body {
              position: relative;
              //            left: none;
//              right: 40px !important;
//              bottom: 3px;
              float: right;
              margin-right: 40px;
              margin-bottom: 4px;

              font-size: 15px;

              border: 1px solid rgba(0, 0, 0, 0.1);

              padding: 2px 5px 2px 5px;
              background-color: #f9f9f9;
            }
          }
        }
      }
    }

    .message-input
    {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
//      height: 50px;
      
      background-color: #ffffff;

      input
      {
        border-radius: 0;
      }
    }
  }

  #main-window
  {
    position: absolute;
//    width: 250px;
    top: $navbar-height;
    bottom: 0px;
    right: 0px;
    left: 250px;
    background-color: #e6e6e6;

    z-index: 1;

    padding-top: 30px;
    overflow: auto;

    #feed
    {
      position: absolute;

      transition: left 0.5s ease;

      left: 0;
      right: 0;
//      top: 0;
//      bottom: 0;

      .post
      {
        width: 500px;
      }

      .status-form
      {
        width: 545px;
      }

      &.half-width
      {
        left: $messages-width;

        .post
        {
          width: 470px;
        }

        .status-form
        {
          width: 500px;
        }
      }

      .post,
      .status-form
      {
        transition: all 0.5s ease;
      }

      .post
      {
        position: relative;

        margin: 0 auto;

        background-color: #f3f3f3;

        $post-padding: 20px;

        padding-top: $post-padding + 50px;
        padding-bottom: $post-padding;

        border-radius: 3px;

        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

        margin-bottom: 20px;

        &.ng-enter,
        &.ng-leave
        {
          transition: 0.5s all ease;
        }

        &.ng-enter,
        &.ng-leave.ng-leave-active
        {
          opacity: 0;
          left: -50px;
        }

        &.ng-leave,
        &.ng-enter.ng-enter-active
        {
          opacity: 1;
          left: 0;
        }

        .avatar
        {
          position: absolute;
          left: $post-padding;
          top: $post-padding;

          img
          {
            width: 40px;
            height: 40px;
          }
        }

        .name
        {
          position: absolute;
          left: $post-padding + 45px;
          top: $post-padding;
        }

        .time
        {
          position: absolute;
          left: $post-padding + 45px;
          top: $post-padding + 20px;
        }

        .status-body
        {
          margin-left: $post-padding;
          margin-right: $post-padding;

          white-space: pre-line;
        }
      }

      .status-form
      {
//        position: relative;
        margin-left: auto;
        margin-right: auto;

//        margin: 0 auto;

//        width: 55%;
        background-color: #f3f3f3;

        $form-padding: 0px;

        padding-top: $form-padding;
        padding-bottom: $form-padding;

        border-radius: 3px;

        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

        margin-bottom: 20px;

        overflow: hidden;

        #status-field
        {
          background-color: rgba(0, 0, 0, 0);
          border: none;
          box-shadow: none;
          resize: none;
        }

        #status-submit
        {
          float: right;

//          width: 50px;
//          height: 35px;

          $padding: 4px;
          padding-left: $padding + 5px;
          padding-right: $padding + 5px;
          padding-top: $padding;
          padding-bottom: $padding;

          margin-right: 5px;
          margin-bottom: 5px;

          transition: opacity 0.5s ease;

          &[disabled]
          {
            opacity: 0;
          }
        }
      }
    }
  }

}