div#login {
  z-index: 1000;
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  transition: opacity 1s ease; }
  div#login.loginEnded {
    opacity: 0; }
  div#login div#login-form {
    width: 250px;
    opacity: 1;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    transition: opacity 0.35s ease; }
    div#login div#login-form.loading {
      opacity: 0; }
    div#login div#login-form #login-spinner,
    div#login div#login-form #login-spinner * {
      opacity: 0 !important;
      transition: opacity 0.35s ease; }
      div#login div#login-form #login-spinner.showspinner,
      div#login div#login-form #login-spinner *.showspinner {
        opacity: 1; }
    div#login div#login-form .ng-hide-add, div#login div#login-form .ng-hide-remove {
      /* ensure visibility during the transition */
      display: block !important;
      /* yes, important */ }
    div#login div#login-form .cssSlideUp {
      transition: all .7s ease;
      height: 90px;
      overflow: hidden; }
    div#login div#login-form .cssSlideUp.ng-hide {
      height: 0; }
    div#login div#login-form .logo {
      width: 200px;
      margin-bottom: 20px; }
    div#login div#login-form .form-control {
      margin-bottom: 5px;
      border-radius: 0; }
    div#login div#login-form .form-control.ng-invalid {
      background-color: #ffc8c8; }
    div#login div#login-form #submit-login {
      margin-top: 15px;
      width: 100%;
      border-radius: 0; }
    div#login div#login-form .register {
      color: #eee;
      margin-top: 10px;
      cursor: pointer;
      transition: color 0.3s ease; }
      div#login div#login-form .register:hover {
        color: #999; }
    div#login div#login-form .alert {
      margin-top: 0px; }

#main #user-list {
  position: absolute;
  width: 250px;
  top: 0px;
  bottom: 0px;
  background-color: #eee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 10; }
  #main #user-list .user {
    position: relative;
    cursor: pointer;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-out; }
    #main #user-list .user:hover {
      background-color: rgba(0, 0, 0, 0.075); }
    #main #user-list .user .avatar img {
      width: 50px;
      height: 50px; }
    #main #user-list .user .name {
      position: absolute;
      left: 55px;
      top: 0px; }
#main #main-window {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 250px;
  background-color: #e6e6e6;
  z-index: 1;
  padding-top: 30px;
  overflow: auto; }
  #main #main-window #feed .post {
    position: relative;
    margin: 0 auto;
    width: 55%;
    background-color: #f3f3f3;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; }
    #main #main-window #feed .post .avatar {
      position: absolute;
      left: 20px;
      top: 20px; }
      #main #main-window #feed .post .avatar img {
        width: 40px;
        height: 40px; }
    #main #main-window #feed .post .name {
      position: absolute;
      left: 65px;
      top: 20px; }
    #main #main-window #feed .post .time {
      position: absolute;
      left: 65px;
      top: 40px; }
    #main #main-window #feed .post .status-body {
      margin-left: 20px;
      margin-right: 20px; }

/*# sourceMappingURL=app.css.map */
