<!DOCTYPE html>
<html ng-app="microSocial">

<head lang="en">
    <meta charset="UTF-8">
    <title>MicroSocial</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.min.css">-->
    <link rel="stylesheet" href="css/app.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <!--<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>-->
    <script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-gravatar/build/md5.min.js"></script>
    <script src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>

    <script src="js/jquery.timeago.js"></script>

    <script src="js/controllers.js"></script>
</head>

<body>
    <div id="login" ng-controller="LoginController">
        <span id="login-spinner" us-spinner spinner-key="login" ng-class="{ showspinner: showSpinner }"></span>
        <div id="login-form">
            <form name="loginForm">
                <img class="logo" src="img/MicroSocialLogo.png">

                <div class="alert alert-danger" role="alert" ng-show="showError">{{ errorMessage }}</div>

                <div id="register-form" class="cssSlideUp" ng-show="registerForm">
                    <input class="form-control" ng-model="user.fullName" type="text" id="full-name" placeholder="Full Name" minlength="1">
                    <input class="form-control" ng-model="user.email" type="email" id="email" placeholder="Email" minlength="1">
                </div>

                <input class="form-control" ng-model="user.username" type="text" id="username" placeholder="Username" minlength="1">
                <input class="form-control" ng-model="user.password" type="password" id="password" placeholder="Password" minlength="1">

                <input class="btn btn-success" type="submit" id="submit-login" value="{{ registerForm ? 'Register' : 'Login' }}" ng-click="submitForm()" ng-disabled="loginForm.$invalid || loginForm.$pristine">

                <div class="register" ng-click="showRegister()">
                    {{ registerForm ? '» Login «' : '» Create an account «' }}
                </div>
            </form>
        </div>
    </div>

    <div id="main">
        <div id="user-list" ng-controller="UserListController">
            <div class="user" ng-repeat="user in users">
                <div class="avatar"><img gravatar-src="'{{user.email}}'" gravatar-size="100"/></div>
                <div class="name">{{ user.fullName ? user.fullName : user.username }}</div>
            </div>
        </div>

        <div id="main-window">
            <div id="feed" ng-controller="FeedController">
                <div class="post" ng-repeat="post in posts">
                    <div class="avatar"><img gravatar-src="'{{post.poster.email}}'" gravatar-size="100"/></div>
                    <div class="name">{{post.poster.fullName}}</div>
                    <div class="time"><time class="timeago" datetime="{{post.time}}"></time></div>
                    <div class="status-body">{{post.statusContent}}</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>