<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net45" />
  <package id="GrapevinePlus" version="3.0.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.96.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core.MSIL" version="1.0.96.0" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc7" targetFramework="net45" />
</packages>